/*? CHARACTER PAGE STYLE */

.character {
  height: 400px;
  /* border: solid 1px red; */
}
.character__img {
  object-fit: contain;
  /* border: solid 1px blue; */
  width: 50%;
}

.character__details {
  width: 50%;
  /* border: solid 1px green; */
}

.character__name {
  margin-top: 30px;
  font-size: var(--fs-900);
  font-weight: 700;
  text-align: center;
}

.character__information {
  margin-top: 100px;
  font-size: var(--fs-600);
}

.character__cover {
  margin-top: 40px;
  align-items: center;
}

.character__cover__title {
  margin-bottom: 20px;
}

.character__cover__thumbnail {
  height: 150px;
  gap: 20px;
  overflow-x: scroll;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.character__cover__thumbnail::-webkit-scrollbar {
  display: none;
}

.cover {
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
