/*? CharacterCard Style */

.character-card {
  margin-block: 5px;
  flex-wrap: wrap;
  width: calc((100% - 25px) / 5);
  background-color: white;
  align-items: center;
  transition: box-shadow 0.5s, transform 0.2s;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid var(--clr-secondary);
}

.character-card:hover {
  box-shadow: 0px 0px 30px var(--clr-secondary);
  transform: scale(1.05);
  cursor: pointer;
  z-index: 2;
}

.character-card__title {
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  color: var(--clr-secondary);
  font-size: var(--fs-600);

  padding-inline: 10px;
}

.character-card__thumbnail {
  overflow: hidden;
  width: 100%;
  height: 150px;
}

.character-card__thumbnail__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-top: solid 1px var(--clr-secondary);
  border-bottom: solid 1px var(--clr-secondary);
}

.character-card__description {
  margin: 10px;
  align-items: center;
  justify-content: center;
}
