*,
*::before,
*::after {
  box-sizing: border-box;
}

/*? Fonts imports */
@import url("https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/*? GENERAL  */
img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

body {
  font-family: var(--ff-primary);
}

/*? UTILITY  */

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}
